# Игнорираме локалните зависимости (те се инсталират наново в контейнера)
node_modules
npm-debug.log

# Игнорираме готовата продукционна папка (ако има такава)
dist
build

# Игнорираме Docker файловете в самата папка
Dockerfile
.dockerignore

# Игнорираме системни файлове на операционната система
.DS_Store
Thumbs.db
